/* IMPORTED FONTS */

@font-face {
    font-family: "Commune";
    src: url("assets/fonts/commune-webfont.woff") format('woff');
}


html {
    scroll-behavior: smooth;
  }


/* SPLASH */
.splash{
    width: 100%;
    height:100vh;
    background-color: #d5e4b2;
    display: flex;
    justify-content: center;

}


.splash-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.splash-flex img{
    max-width: 30rem;
}


.splash-flex a{
    color: #fff;
    text-decoration: inherit; 
    font-family: futura-pt, sans-serif;
    padding-top: 0.5rem;
    text-align: center;
    font-size: 2rem;
}


.splash-flex a:hover{
    text-decoration: underline;
    text-decoration-color: rgb(246, 173, 66);


}


/* SIDE NAV */

.sidenav-old {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 34vh;
    padding-left: 1rem;

  }

  .sidenav {
    display: flex;
    justify-content: center;
  }





.navFlex a{
    color: inherit;
    text-decoration: inherit; 
    font-family: futura-pt, sans-serif;
    padding-top: 0.5rem;
    margin: 2em;
    text-align: center;
  }

  #logo{
    max-width: 4em;
    width: auto;
}


/* MAIN */

.main{
    height: 100vh;
}

.main h1{
    font-family: Commune;
    text-align: center;
    font-size: 5em;
    text-decoration: underline;
    text-decoration-color: rgb(246, 173, 66);
}





/* ABOUT */

.bioFlex{
    display: flex;
    margin-top: 8em;
    justify-content: center;
    align-items: center;
    
}



#bioDetails{
    display: flex;
    flex-direction: column;
    width: 45%;
}

#bioDetails h2{
    font-family: Commune;
    text-decoration: underline #86a63d;
}

#headshot{
    max-width: 25em;
    width: auto;
    padding: 1em;
}

/* DM */


/* CAROSOUL CONTAINER */

.carouselFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 7em;
}

.flexChild{
    max-width: 50rem;
    padding: 1rem;
}


#dmFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top:7em;
}

/* .dmCard{ 
    display: flex;
    flex-direction: column;
    max-width: 24rem;
    padding: 1rem;

} */

/* .dm-card p{ 
    text-align: justify;
    margin: 0;
} */

/* PHOTO */

#photoFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.photo-grid{
    max-width: 24rem;
    padding:1rem;
}




/* SOCIAL */

#socialFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.social-photo{
    max-width: 24rem;
    padding: 1rem;


}




/* CONTACT */


#contact{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    /* position: sticky;
    bottom: 10px; */

}


#contact div a {
    color: inherit;
    text-decoration: inherit;
    font-family: futura-pt, sans-serif;
   
}


#contact div{
    padding: 1rem;


}


.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 9em;

}







/* ipad Mini Portrait */
@media only screen and (max-width:768px)  {


    .bioFlex{
        display: flex;

        justify-content: center;
        
    }


    .navFlex a{
        color: inherit;
        text-decoration: inherit; 
        font-family: futura-pt, sans-serif;
        padding-top: 0.5rem;
        margin: .5em;
        text-align: center;
      }

}

/* ipad Mini Landscape */
@media only screen and (width:1024px)  {



    .bioFlex{
        display: flex;

        justify-content: center;
    }
}





@media only screen and (max-width:844px)  {

    .navFlex a{
        color: inherit;
        text-decoration: inherit;
        font-family: futura-pt, sans-serif;
        padding-top: 0.5rem;
        margin: 1em;
        text-align: center;
      }
}

@media only screen and (max-width:414px)  {


    .bioFlex{
        display: flex;

        justify-content: center;
     

    }


    #headshot{
        max-width: 11em;
        width: auto;
        padding: 1em;
    }
    


    .navFlex a{
        font-size: 62%;
        color: inherit;
        text-decoration: inherit;
        font-family: futura-pt, sans-serif;
        padding-top: 0.5rem;
        margin: 0.5em;
        text-align: center;
      }

      .splash-flex img {
        max-width: 22rem;
    }

}
