/* IMPORTED FONTS */

@font-face {
    font-family: "Commune";
    src: url("assets/fonts/commune-webfont.woff") format('woff');
}


html {
    scroll-behavior: smooth;
  }


/* SPLASH */
.splash{
    width: 100%;
    height:100vh;
    background-color: #d5e4b2;
    display: flex;
    justify-content: center;

}


.splash-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.splash-flex img{
    max-width: 30rem;
}


.splash-flex a{
    color: #fff;
    text-decoration: inherit; 
    font-family: futura-pt, sans-serif;
    padding-top: 0.5rem;
    text-align: center;
}


.splash-flex a:hover{
    text-decoration: underline;
    text-decoration-color: rgb(246, 173, 66);


}


/* SIDE NAV */

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 34vh;
    padding-left: 1rem;

  }

  .navFlex{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content:center:

}

.navFlex a{
    color: inherit;
    text-decoration: inherit; 
    font-family: futura-pt, sans-serif;
    padding-top: 0.5rem;
    text-align: center;
  }

  #logo{
    max-width: 4em;
    width: auto;
}


/* MAIN */

.main{
    margin-left: 160px; /* Same as the width of the sidenav */
    height: 100vh;
}

.main h1{
    font-family: Commune;
    text-align: center;
    font-size: 5em;
    text-decoration: underline;
    text-decoration-color: rgb(246, 173, 66);
}





/* ABOUT */

.bioFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 10rem;
    align-items: center;
    
}

#bioDetails{
    display: flex;
    flex-direction: column;
    width: 45%;
}

#bioDetails h2{
    font-family: Commune;
    text-decoration: underline #86a63d;
}

#headshot{
    max-width: 21em;
    width: auto;
    padding: 1em;
}

/* DM */


/* CAROSOUL CONTAINER */

.carouselFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flexChild{
    max-width: 38rem;
    padding: 3rem;
}


#dmFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.dmCard{ 
    display: flex;
    flex-direction: column;
    max-width: 24rem;
    padding: 1rem;
}

/* .dm-card p{ 
    text-align: justify;
    margin: 0;
} */

/* PHOTO */

#photoFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.photo-grid{
    max-width: 24rem;
    padding:1rem;
}




/* SOCIAL */

#socialFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.social-photo{
    max-width: 24rem;
    padding: 1rem;


}




/* CONTACT */


#contact{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    /* position: sticky;
    bottom: 10px; */

}


#contact div a {
    color: inherit;
    text-decoration: inherit;
    font-family: futura-pt, sans-serif;
   
}


#contact div{
    padding: 1rem;


}