/* IMPORTED FONTS */

@font-face {
    font-family: "Commune";
    src: url("assets/fonts/commune-webfont.woff") format('woff');
}

html {
    scroll-behavior: smooth;
  }


/* SPLASH */
.splash{
    width: 100%;
    height:100vh;
    background-color: #d5e4b2;
}

.splash h1{
    color: white;
}

.splash-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.splash-flex img{
    max-height: 40em;

}

/* HEADER  */
h1{
    font-family: Commune;
    text-align: center;
    font-size: 5em;
}

/* NAV */
.nav-flex{
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
}


.sidebar {
    position: sticky;
    top: 50vh;
    width: max-content;
  }
      
.sidebar img{
    max-width: 4em;
    padding-bottom: 1em;
    
}








/* BIO */
#bio-wrapper{
    display: flex;
    padding-left: 20em;
    padding-right: 20em;
}

#bio-details{
    display: flex;
    flex-direction: column;
}

#bio-wrapper h2{
font-family: Commune;
text-decoration: underline #86a63d;
}

p{
    font-family: futura-pt, sans-serif;
}

a{
  color: inherit;
  text-decoration: inherit; 
  font-family: futura-pt, sans-serif;
}

#headshot{
    max-height: 17em;
    /* width: auto; */
    padding: 1em;
}


/* DM */
.total-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#dm-flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#dm-grid{
    display: grid;
    grid-auto-flow: row;
    height: 100%;
    row-gap: 7em;
    column-gap: 1em;
    grid-template-columns: repeat(3, 1fr); 
}

.dm-card{ 
    display: flex;
    flex-direction: column;
    max-height: 21em;
    max-width: 21em;
}

.dm-card p{ 
    text-align: justify;
    margin: 0;

}

.pdf{
    padding: inherit;
}





/* PHOTO */
#photo-flex-container{
    display: flex;
    justify-content: center;
}


#photo-grid{
    display: grid;
    grid-auto-flow: row;
    height: 100%;
    gap: 1em;
    grid-template-columns: repeat(3, 1fr) ; 
}


.grid-photo{
    width: 20em;
}


/* SOCIAL */
#social-flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


#social-grid{
    display: grid;
    grid-auto-flow: row;
    height: 100%;
    gap: 1em;
    grid-template-columns: repeat(3, 1fr) ; 
}

.social-photo{
    width: 20em;
    
}



/* CONTACT */

#contact-container{
    display: flex;
    flex-direction: row;
    justify-content: center;


}

#contact-container div{
   padding-left: 2em;
   padding-right: 2em;


}




/* Slideshow container */

.slideshow-container {
    max-width: 30%;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  .dot{
   height: 10px;
    width: 10px;
  }
  
  @media only screen and (max-width: 500px) {
    .prev, .next,.text {font-size: 14px}
  }







