/* IMPORTED FONTS */

@font-face {
    font-family: "Commune";
    src: url("/Users/jareddeuriarte/Desktop/gallo/assets/fonts/commune-webfont.woff") format('woff');
}


/* HEADER  */

#name{
    font-family: Commune;
    text-align: center;
    font-size: 5em;
}

p{
    font-family: futura-pt, sans-serif;
}
